.box {
  width: 11rem;
  height: 13.3rem;
  background: #28282a;
  margin-left: 3rem;
  margin-top: 4rem;
  margin: 4rem 0 4rem 3rem;
  border-radius: 0.2rem;

  > .list {
    position: relative;
    top: -3rem;
    padding: 0;
    list-style: none;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .cover {
    position: relative;
    top: -1rem;
    height: 7rem;
  }
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 0.9rem;
    line-height: 12px;

    align-items: center;

    color: #ffffff;
  }
  h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 10px;

    align-items: center;

    color: #ffffff;
  }
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 10px;

    align-items: center;

    color: #5b1691;
  }
  .list-plus {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: -1rem;
    bottom: -1.5rem;
    img {
      height: 1rem;
    }
    h3 {
      margin-left: 0.5rem;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 0.5rem;
      line-height: 6px;

      align-items: center;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
}
