.icon {
  height: 1.5rem;
  width: 10rem;
  padding: 0.5625rem 13.25rem 0.5625rem 3.75rem;
  background: url(../../assets/icons/profile/lupa.png) no-repeat left;
  background-position: 1rem 0.5rem;
  background-size: 1.3rem;
  border: none;
  background-color: #363638;
  border-radius: 5px;
}
::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

ul.profile-status {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 1.4rem;
  li {
    width: fit-content;
  }
  p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #ffffff;
  }
}
